# CRISP - DM Method (Cross-Industry Standard Process for Data Mining)
 The following mnemonic is what I use to remember the order of steps for CRISP - DM Method:
- Barry - Business Understanding
- Drove - Data Understanding
- Directly to the - Data Prep
- Medical - Modelling
- Emergency  - Evaluation
- Department - mDeployment

## 1- Business Understanding

**Scenario**
- Business has approcahed with some data
- They want us to use the data to __forecast transactions__
- The data contains a list of accounting transactions
- Data contains multiple revenue streams
- They want us to make an __app that predict future transactions__
- Data provided is for __3 years__
- Advised data __quality__ is __okay__

## 2- Data Understanding

- Lets import pandas library and evaluate the quality of the data at hand

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('regression.csv')

In [4]:
# Lets take a look at the first 5 rows of the data
df.head()

   Year Month Cost Centre  Account Account Description Account Type    Amount
0  2019   Jan       CC100  1000000       Product Sales      Revenue  1344.051
1  2019   Jan       CC100  1000001   Licensing Revenue      Revenue   480.968
2  2019   Jan       CC100  1000002     Service Revenue      Revenue   650.820
3  2019   Jan       CC100  1000004         Fee Revenue      Revenue   339.360
4  2019   Jan       CC100  2000000   Cost of Good Sold      Expense  1125.328

In [5]:
# Lets take a look at the last 5 rows of the data
df.tail()

,Year,Month,Cost Centre,Account,Account Description,Account Type,Amount
4207,2021,Dec,CC302,2000005,Purchases,Expense,698.121
4208,2021,Dec,CC302,3000000,Cash at Bank,Asset,-282.056
4209,2021,Dec,CC302,3000001,Inventory,Asset,537.478
4210,2021,Dec,CC302,3000002,Accounts Receivable,Asset,1152.680
4211,2021,Dec,CC302,4000001,Accounts Payable,Liability,-1020.000

In [7]:
# Lets take a look at the info for each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4212 entries, 0 to 4211
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 4212 non-null   int64
 1   Month                4212 non-null   object
 2   Cost Centre          4212 non-null   object
 3   Account              4212 non-null   int64
 4   Account Description  4212 non-null   object
 5   Account Type         4212 non-null   object
 6   Amount               4212 non-null   float64
dtypes: float64(1), int64(2), object(4)
memory usage: 230.5+ KB

- Looking at the head and tail of the data we can see that the dat is from **2019-2021** (3 years of data)
- As you can see that there are total of **7 columns**.
- There are total of **4 categorical variables** (Month, Cost Centre, Account Description, Account type).
- There are **3 numerical variables** (Year, Account, Amount)
- From the data shown we can say for sure that **"Amount"** is our **dependent variable** aka **target variable** and rest of the other variables are **independent variables** aka **features**
- another important thing as we can see is that there are no missing values in the data (woohhf saved a lot of time)

In [ ]:
# Lets see if we have any duplication of data